<article class="story-page"
         data-story-id="{{ story['id'] }}"
         data-story-url="{{ story['canonical_url'] }}"
         data-story-headline="{{ story['headline'] }}"
         data-loader="story">

  {% include 'story/header_card', story: story %}
  {% include 'story/cards', story_cards: story['cards'] %}
  {% include 'story/tags', story_tags: story['tags'] %}
  <div id="youtube-iframe-api"></div>
</article>
