<div class="card__element--image">
  <img src="{{story_element['image-s3-key'] | focusedImage: story_element['image-metadata'], '16x9', 'w', 640}}"/>
  <figcaption>
    {{ story_element['title'] }}
  </figcaption>
</div>
