<div class="card__element--q-and-a q-and-a">
  <div class="q-and-a__question">
    {{ story_element.metadata.question }}
  </div>
  <div class="q-and-a__answer">
    {{ story_element.metadata.answer }}
  </div>
</div>

